{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

        {% block body %}
        {% endblock %}
        
        <!-- Splitting.js  -->
        <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>
